@font-face {
    font-family: "Cascadia Code";
    font-weight: 400;
    font-style: normal;
    src: local("Cascadia Code"), local("CascadiaCode-Regular"),
        url("/fonts/CascadiaCode-Regular.ttf") format("truetype"),
        url("/fonts/CascadiaCode-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans"), local("Noto-Sans"),
        url("/fonts/NotoSans-Regular.ttf") format("truetype"),
        url("/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: local("Roboto Slab"), local("Roboto-Slab"),
        url("/fonts/RobotoSlab-Regular.ttf") format("truetype"),
        url("/fonts/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.container {
    width: auto;
    max-width: 600px;
    padding: 0 40px 30px;
    margin: 60px auto;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(34, 36, 38);
    color: rgb(220, 220, 220);
}

.mp {
    margin-bottom: 5px;
}

pre {
    display: block;
    background-color: rgb(29, 31, 32);
    border: 1px solid rgba(255, 255, 255, 0.24);;
    border-left: 4px solid #ce9121;
    padding: 15px;
    overflow-x:auto;
}

h1 {
    font-family: "Roboto Slab", serif;
    letter-spacing: 1px;
    border-left: 6px solid #ce9121;
    padding-left: 10px;
}

h2, h3 {
    font-family: "Roboto Slab", serif;
    letter-spacing: 1px;
}



code {
    font-family: "Cascadia Code", monospace;
    font-size: 14px;
    color: #e9d7b5;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin-top: 5px;
}

a:link {
    color: #38a2e4;
}

a:visited {
    color: #255fb6
}

a:hover {
    color: #ce9121;
}

a:active {
    color: #3a0874;
}

.mul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    max-width: 78%;
}
    
.mli {
    float: left;
}

.mli a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.mli a:hover:not(.active) {
    background-color: #ce9121;
}

.active {
    background-color: #ce9121;
}